*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --highlight: #141926;
  --primary: #129fc0;
  --off-white: #f6f6f6;
  --sans: sans-serif;
  --border-radius: 5px;
  --shadow: 0 2px 15px 0 rgb(0 0 0 / 9%);
}

body {
  font-family: var(--sans);
  background-color: var(--off-white);
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
a:default {
  color: var(--highlight);
}
a:active {
  color: var(--highlight);
}
a:hover {
  color: var(--highlight);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-container__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  align-items: center;
  padding: 21px;
  text-align: center;
}
.grid-container-title {
  font-size: 1.25rem;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.content {
  border-radius: 3px;
  box-shadow: var(--shadow);
  width: 1200px;
  padding: 21px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
  margin-bottom: 42px;
  /* margin: 0 auto; */
  background-color: var(--off-white);
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
}
h1 {
  text-align: center;
  margin-top: 35px;
  background-color: rgba(18, 159, 192, 0.25);
  padding: 25px;
}
.list-container__item {
  display: grid;
  grid-template-columns: 100px 100px 300px 300px 70px;
  gap: 15px;
  align-items: center;
}
.list-container__item-title {
  color: var(--primary);
  font-weight: bold;
}
.handle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-details__thumb img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}
.song-details__info {
  padding: 21px 0;
}
.song-details__info-box {
  display: flex;
  padding: 21px;
  justify-content: space-between;
  color: white;
  background-color: var(--primary);
  border-radius: 5px;
  margin-bottom: 21px;
}
.slide-pane__content {
  padding: 0px;
}
.layout-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* height: 60px; */
}
.layout-filter svg {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.layout-filter svg {
  margin-right: 20px;
}

.active {
  color: var(--primary);
}
.sort {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .content {
    width: 100vw;
    /* width: calc(100% - 70px); */
  }
  .list-container__item {
    grid-template-columns: 20px 100px 1fr;
  }
  .metadata {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 778px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
